{% load static %}
<!doctype html>
<html lang="en-US">
    <head>

        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'pages/style.css' %}">
        <title>{% block page_title %}static pages app{% endblock page_title %}</title>

    </head>

    <header>
        {% block header %}
            <a href="{% url 'home' %}">Home</a> | <a href="{% url 'about'%}">About</a>
        {% endblock header %}
    </header>
    <body>

        <div id="sidebar">

            {% block sidebar %}
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about'%}">About</a></li>
            </ul>
            {% endblock sidebar %}

        </div>

        <div id="content">

            {% block content %}the good stuff goes here ^_^{% endblock content %}
        </div>
	
    </body>
    <footer>
        {% block footer %}
        <ul>
            <li>site links</li>
            <li>logos and affiliates</li>
            <li>etc</li>
        </ul>
        {% endblock footer %}
    </footer>
</html>
